@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(to right, #AAAAAA, #ce1212);
}

p {
    font-size: 23px;
    line-height: 1.5;
}



.title-section {
    position: relative;
}


.main-img {
    width: 100%;
    opacity: 0.9
}

.main-txt {
    font-size: 2.3rem;
    font-weight: 800;
    position: absolute;
    top: 25%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    background: linear-gradient(to right, #000 0%, #000 25%, #CE1212 50%, #CE1212 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    ;

}

@media screen and (min-width:550px) {
    .main-txt {
        font-size: 2.3rem;
        font-weight: 800;
        position: absolute;
        top: 30%;
        left: 52%
    }
}

@media screen and (max-width:1276px) {

    .main-txt {
        font-size: 2.3rem;
        font-weight: 800;
        position: absolute;
        top: 15%;
        left: 52%;
    }


}

.parent-container {
    padding: 2% 4%;
}

.gluttony {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

.gluttonyimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}


.wrath {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

.wrathimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}

.pride {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

.prideimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}


.sloth {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

.slothimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}

.greed {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;

}

.greedimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}


.envy {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

.envyimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}

.lust {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

.lustimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}

@media screen and (min-width:1150px) {


    .gluttony {
        height: 197px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;

    }

    .gluttonyimg {
        height: 197px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }


    .wrath {
        height: 197px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;

    }

    .wrathimg {
        height: 197px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    .pride {
        height: 197px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
    }

    .prideimg {
        height: 197px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    .sloth {
        height: 197px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
    }

    .slothimg {
        height: 197px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    .greed {
        height: 197px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
    }

    .greedimg {
        height: 197px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    .envy {
        height: 197px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
    }

    .envyimg {
        height: 197px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    .lust {
        height: 197px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
    }

    .lustimg {
        height: 197px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    .p-lust {
        margin-left: 30px;
    }


}