@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Section */
body {
    text-align: center;
    background: linear-gradient(to right, #AAAAAA, #ce1212);
}

/* ParaGraph */
p {
    font-size: 23px;
    line-height: 1.5;
}


/* Title Section */
.title-section {
    position: relative;
}

/* Main Image */
.main-img {
    width: 100%;
    opacity: 0.9
}


/* Main Text */
.main-txt {
    font-size: 2.3rem;
    font-weight: 800;
    position: absolute;
    top: 25%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    background: linear-gradient(to right, #000 0%, #000 25%, #CE1212 50%, #CE1212 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    ;

}


/* Media Queries for Main-Txt */
@media screen and (min-width:550px) {
    .main-txt {
        font-size: 2.3rem;
        font-weight: 800;
        position: absolute;
        top: 30%;
        left: 52%
    }
}

/* Media Queries for Main-Txt */
@media screen and (max-width:1276px) {

    .main-txt {
        font-size: 2.3rem;
        font-weight: 800;
        position: absolute;
        top: 15%;
        left: 52%;
    }


}


/* Parent Container */
.parent-container {
    padding: 2% 4%;
}

/* Gluttony */
.gluttony {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

/* Gluttony Image */
.gluttonyimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}

/* Wrath */
.wrath {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

/* Wrath Image */
.wrathimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}


/* Pride */
.pride {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

/* Pride Image */
.prideimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}

/* Sloth */
.sloth {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

/* Sloth Image */
.slothimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}

/* Greed */
.greed {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

/* Greed Image */
.greedimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}

/* Envy */
.envy {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

/* Envy Image */
.envyimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}

/* Lust */
.lust {
    margin-top: 30px;
    background: #AAAAAA;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 60px 10px black;
}

/* Lust Image */
.lustimg {
    width: 120px;
    height: 100px;
    border-radius: 20px;
}


/* Media Queries for Parent Container Elements */
@media screen and (min-width:1150px) {

    /* Gluttony */
    .gluttony {
        height: 194px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
        padding-right: 20px;

    }

    /* Gluttony Image */
    .gluttonyimg {
        height: 194px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    /* Wrath */
    .wrath {
        height: 194px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
        padding-right: 20px;

    }

    /* Wrath Image */
    .wrathimg {
        height: 194px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    /* Pride */
    .pride {
        height: 194px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
        padding-right: 20px;
    }

    /* Pride Image */
    .prideimg {
        height: 194px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    /* Sloth */
    .sloth {
        height: 194px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
        padding-right: 20px;
    }

    /* Sloth Image */
    .slothimg {
        height: 194px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    /* Greed */
    .greed {
        height: 194px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
        padding-right: 20px;
    }

    /* Greed Image */
    .greedimg {
        height: 194px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    /* Envy */
    .envy {
        height: 194px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
        padding-right: 20px;
    }

    /* Envy Image */
    .envyimg {
        height: 194px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }

    /* Lust */
    .lust {
        height: 194px;
        margin-top: 30px;
        background: #AAAAAA;
        border-radius: 20px;
        width: 74%;
        margin-left: 14%;
        box-shadow: 10px 10px 60px 10px black;
        padding-right: 20px;
    }

    /* Lust Image */
    .lustimg {
        height: 194px;
        width: 120px;
        border-radius: 20px;
        float: left;
        margin-right: 20px;
    }




}